.trainer {
  background-color: rgb(250, 247, 247);
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px auto;
  margin-top: 50px;
  padding: 20px;
  width: 500px;
  max-width: 600px;
}

.trainer > .panel {
  display: flex;
}

.trainer > .buttons > button {
  margin: 5px;
}
