.flashcard {
  background-color: white;
  border-radius: 5px;
  height: 70%;
  margin: 10px auto;
  padding: 10px;
}

.flashcard > .header {
  font-size: 22px;
  font-weight: 600;
  height: 40px;
  line-height: 30px;
  padding: 10px 20px;
}

.flashcard > .content {
  background-color: #f4f2e7;
  border-radius: 5px;
  font-size: 1.6vh;
  height: 100px;
  line-height: 3vh;
  padding: 10px 20px;
  overflow: auto;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .flashcard > .content {
    font-size: 1.6vh;
    height: 60%;
  }
}

.flashcard > .footer {
  margin-top: 10px;
}
